#content {
  height: 84vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#game {
  grid-column: 2 / 4;
}
#game__effects-container {
  margin: 2.5% 0;

  width: 100%;
  height: 10%;
}
#game__tetwist-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}
